<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <h2 class="footer-heading">{{ site.title | escape }}</h2>
  
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li class="p-name">
              {%- if site.author -%}
                {{ site.author | escape }}
              {%- else -%}
                {{ site.title | escape }}
              {%- endif -%}
              </li>
              {%- if site.email -%}
              <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
              {%- endif -%}
          </ul>
        </div>
  
        <div class="footer-col footer-col-2">
          {%- include social.html -%}
        </div>
  
        <div class="footer-col footer-col-3">
          <p>
            {%- if site.description -%}
              {{ site.description | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
          </p>
        </div>
      </div>
  
      <div class="custom-legal-footer" style="margin-top: 20px; font-size: 0.8em; color: #555;">
        <p>
          &reg; 2025 [Fourblumutts LLC]. All Rights Reserved
          <br>
          [Roll Over Red] &reg; is a federally registered trademark of Fourblumutts LLC.
        </p>
        <p>
          All content including text, graphics, images, and software, on this website (rolloverred.com) is the property of Fourblumutts LLC. and is protected by U.S, copyright and trademark laws. You may not reproduce, distribute, display, sell, or lease any part of the service or content without our express written permission. Trademark infringement penalties can be severe and carry significant legal consequences.
        </p>
      </div>
      </div>
  
  </footer>