@font-face {
    font-family: 'Cushing Heavy BT';
    src: url('/assets/fonts/cushingheavy.woff2') format('woff2'),
         url('/assets/fonts/cushingheavy.woff') format('woff'),
         url('/assets/fonts/cushingheavy.ttf') format('truetype'); /* Keep TTF as a last fallback */
    font-weight: 700;
    font-style: normal;
  }