---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <img class="center-image" src="{{ '/assets/images/header.jpg' | relative_url }}" alt="Blue" style="width: 50%;">

  Site under construction.

  <div class="image-gallery-4col">
    <div class="gallery-item">
      <a href="URL_FOR_IMAGE_1_LINK">
        <img src="{{ '/assets/images/hats/blue_hat.jpeg' | relative_url }}" alt="Description of Image 1">
      </a>
      <p class="image-caption">Blue Dad Cap</p>
    </div>
    <div class="gallery-item">
      <a href="URL_FOR_IMAGE_2_LINK">
        <img src="{{ '/assets/images/hats/dad_hat.jpeg' | relative_url }}" alt="Description of Image 2">
      </a>
      <p class="image-caption">Heather Dad Cap</p>
    </div>
    <div class="gallery-item">
      <a href="URL_FOR_IMAGE_3_LINK">
        <img src="{{ '/assets/images/hats/bright_blue.jpeg' | relative_url }}" alt="Description of Image 3">
      </a>
      <p class="image-caption">Blue Rope Cap</p>
    </div>
    <div class="gallery-item">
      <a href="URL_FOR_IMAGE_4_LINK">
        <img src="{{ '/assets/images/hats/trucker_hat.jpeg' | relative_url }}" alt="Description of Image 4">
      </a>
      <p class="image-caption">Blue Trucker Cap</p>
    </div>
  </div>
  <!-- <div class="page-list">
    <ul class="post-list"> 
      {% assign pages = site.pages | sort:"order" %}
      {% for page in pages %}
        {% if page.title and page.layout == 'page' and page.url != '/about/' and page.url != '/shop/'%} 
        <li>
          <h3>
            <a class="page-link" href="{{ page.url | relative_url }}">
              {{ page.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
          {{ post.excerpt }}
          {%- endif -%}
        </li>
        {% endif %}
      {% endfor %}
    </ul>
    <hr> 
  </div> -->
    
  <!-- {% assign posts = site.posts | sort:"order" %}
  {%- if posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%} -->

</div>